/* _certificat.scss */

/* Styles spécifiques pour la page des certificats */

/* Formulaire interactif */
#certificatForm {
    .form-label {
        font-weight: bold;
    }

    .form-check {
        margin-bottom: 10px;
    }

    .form-check-label {
        margin-left: 5px;
    }

    .btn {
        margin-top: 20px;
    }
}

/* Résultats du formulaire */
#results {
    font-size: 1.2rem;
    margin-top: 30px;

    p {
        margin-bottom: 15px;
    }
}
