/* _equipement.scss */
@use "config" as *;

/* Styles spécifiques à la page équipement */

/* Images en pleine largeur */
.full-width-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

/* Logo IJF avec un contour rouge foncé */
.img-bordered {
  border: 2px solid #800000;
  padding: 4px;
}

/* Comportement sur mobile pour le logo IJF */
@media (max-width: 768px) {
  .text-image-wrapper {
    flex-direction: column;
    img {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}

/* Bannière du judogi plié */
.banner-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 2rem;
}

/* Grille des images */
.row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Système de grille pour le texte et l'image */
.text-image-wrapper.grid-system {
  display: grid;
  grid-template-columns: 11fr 1fr; /* 11 colonnes pour le texte, 1 pour l'image */
  gap: 1.5rem;
  align-items: center;
}

/* Comportement sur mobile : colonne unique */
@media (max-width: 768px) {
  .text-image-wrapper.grid-system {
    grid-template-columns: 1fr;
  }
}

/* Styles pour les titres personnalisés */
.custom-title {
  font-size: 1.5rem; /* Desktop */
  color: #004080;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 1.1rem; /* Mobile */
    line-height: 1.6;
    margin-top: 1.2rem;
  }
}

/* Centrer le paragraphe et le bouton */
.cta-button {
  text-align: center;
  margin: 2rem 0;
}
.cta-text {
  color: #0066cc;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Margin en bas du bouton */
.cta-button .btn-lg { margin-bottom: 2rem; }
