/* _home.scss */
/* Styles spécifiques pour la page d'accueil */

@use "config" as *;

/* Conteneur principal de la page d'accueil */
.home-container {
    padding: 0 !important;
}

/* Mise en évidence du texte avec un fond et un border-radius */
.home-highlight {
    display: inline-block;
    background-color: #ffffe0;
    padding: 0.5rem;
    border-radius: 10px;
    font-family: $font-stack;
    color: $blackColor;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    text-align: end;
}

/* Suppression du padding pour les éléments row et col de la page d'accueil */
.homepage-container .row,
.homepage-container .col {
    padding: 0;
    margin: 0;
}

/* Suppression du padding pour le container-fluid sur mobile */
@media (max-width: 768px) {
    .homepage-container.container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* Garde l'image du hero sans espace, comme en prod */
.img-no-gap {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}
