/* _tables.scss */
/* Styles pour les tableaux */

@use "config" as *;

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    background-color: $whiteColor;

    th, td {
        padding: 0.75rem;
        vertical-align: middle;
        border-top: 1px solid $lightGrayColor;
    }

    th {
        background-color: $lightGrayColor;
        font-weight: bold;
        text-align: left;
    }

    tbody + tbody {
        border-top: 2px solid $blackColor;
    }
}
