$primary-color: #343a40;

/* Couleurs */
$whiteColor: #FFFF00; /* #fbfbfb;  blanc cassé pour le fond du site */
$blackColor: #212121; /* noir moins dur pour la couleur de la font */
$darkGrayColor: #757575; /* entrées du menu inactive */
$lightGrayColor: #77B5FE; /* #f2f2f2; gris clair pour les en-têtes de tableau */

/* Couleurs du club */
$lightMainColor: #d20000;
$mainColor: #b40000; /* Rouge */
$darkMainColor: #780000; /* Rouge foncé */
$secondaryColor: #002654; /* Bleu */
$lightSecondaryColor: #02479c; /* Bleu plus clair */

$font-stack: 'Noto Sans', 'Roboto', sans-serif;