@charset "UTF-8";
/* Couleurs */
/* blanc cassé pour le fond du site */
/* noir moins dur pour la couleur de la font */
/* entrées du menu inactive */
/* gris clair pour les en-têtes de tableau */
/* Couleurs du club */
/* Rouge */
/* Rouge foncé */
/* Bleu */
/* Bleu plus clair */
header {
  background-color: #343a40;
  padding: 5px;
}

.navbar {
  padding: 5px;
}

.logo-club {
  height: 100px;
  margin-right: 10px;
}

/* Menu Navbar Active State */
.navbar-nav .nav-link.active {
  color: #b40000 !important;
}

body {
  font-family: "Noto Sans", "Roboto", sans-serif;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

.col {
  padding: 0;
  margin: 0;
}

@media (max-width: 767.98px) {
  .text-md-end {
    text-align: center !important;
  }
  .d-inline-block,
  .text-end {
    display: block !important;
    text-align: center !important;
  }
}
footer {
  background-color: #343a40;
}

/* Styles spécifiques pour les liens du footer */
.footer-link {
  text-decoration: none;
  color: inherit; /* Conserve la couleur du texte */
}
.footer-link:hover {
  text-decoration: underline;
}

/* Styles spécifiques pour les liens des réseaux sociaux */
.social-link {
  text-decoration: none;
  color: inherit; /* Conserve la couleur du texte */
}
.social-link:hover {
  text-decoration: none;
}
