// styles.scss

// Importer les variables et mixins en premier
@use "_variables";    // Contient les variables globales de couleur, polices, etc.
@use "_mixins";       // Contient les mixins réutilisables

// Styles globaux
@use "_typography";   // Styles de typographie globaux pour le corps du texte et les titres
@use "_accessibility"; // Styles pour améliorer l'accessibilité du site
@use "_images";       // Styles globaux pour les images

// Composants génériques
@use "_buttons";      // Styles pour les boutons utilisés sur l'ensemble du site
@use "_cards";        // Styles pour les cartes (composants réutilisables)
@use "_tables";       // Styles pour les tableaux
@use "_icons";        // Styles pour les icônes
@use "_accordions";   // Styles pour les accordéons (composant Bootstrap)

// Composants de mise en page
@use "_navbar";       // Styles pour la barre de navigation (header)
@use "_footer";       // Styles pour le pied de page

// Styles spécifiques aux pages
@use "_home";         // Styles spécifiques à la page d'accueil
@use "_inscription";  // Styles spécifiques à la page inscription
@use "_equipement";   // Styles spécifiques à la page équipement
@use "_agenda";       // Styles spécifiques à la page agenda-competition
@use "_contact";      // Styles spécifiques à la page contact
@use "_certificat";   // Styles spécifiques à la page certificat

/* Styles globaux supplémentaires (ajoutez ici tout style global supplémentaire) */
.main-container {
    background-color: $whiteColor; // Fond blanc pour le conteneur principal
    min-height: 100vh; // S'assurer que le container principal couvre toute la hauteur de la page
    padding-top: 20px; // Espace en haut pour séparer du header
    padding-bottom: 20px; // Espace en bas pour séparer du footer
    box-sizing: border-box; // Prend en compte le padding dans la hauteur
}

/* Styles pour le thème Octobre Rose */
.octobre-rose-banner {
    background-color: #FFC0CB; /* Rose */
}

/* Styles pour le thème Movember */
.novembre-bleu-banner {
    background-color: #a0d1ff; /* Bleu */
}

/* Styles communs pour la bannière spéciale */
.special-banner {
    color: $blackColor;
	padding: 15px;
}
.special-link {
    color: $blackColor;
    text-decoration: none;
}
.special-link:hover {
    text-decoration: underline;
}
